{% extends "base.html" %}
{% block content %}

<div class="parent">

  <div id="app_header" class="div1">SEO Effekt
  </div>

  <div class="div7_1">

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

        {{ form.study_name.label }}<br/>
        {{ form.study_name(size=44, value=study_name) }}
        {% if error == 1 %}<br/><span style="color:red">Study already exists. Please select another name for your study</span>{% endif %}
        <br/><br/>
        {{ form.study_description.label }}<br/>
        <textarea id="study_description" name="study_description" cols="80", rows="5">{{ study_description }}</textarea>
        <br/><br/>

        {{ form.study_se.label }}

        <ul id="study_se" size="64" value="[&#39;Google&#39;, &#39;GesundBund&#39;]">

          {%for c,x in form.study_se.choices %}

          <li>
            {% if c in study_se %}

              <input id="study_se-{{ loop.index - 1 }}" name="study_se" type="checkbox" value="{{ c }}" checked>

            {% else %}

              <input id="study_se-{{ loop.index - 1 }}" name="study_se" type="checkbox" value="{{ c }}">

            {% endif %}

              <label for="study_se-{{ loop.index - 1 }}">{{ c }}</label>

          </li>

          {% endfor %}

        </ul>

        {% include "queries.html" %}

        {{ form.study_delete.label }}<br/>
        {{ form.study_delete(size=44) }}


      <p>{{ form.submit() }}</p>

    </form>
    <br/><br/>

  <a href="https://searchstudies.org/" target="_blank"><img src="../static/searchstudies_logo.png" height=64 /></a><a href="https://www.haw-hamburg.de/en/" target="_blank"><img src="../static/haw_logo.jpg" height=64 /></a>


  </div>



    <div class="results">



    </div>



    <div class="div7_2"><a href="https://searchstudies.org/seo-effekt/" target="_blank"><img src="../static/seo_logo.png" /></a>

    </div>


    </div>

  {% endblock %}
