{% extends "base.html" %}
{% block content %}

  <div class="parent">
 <div id="app_header" class="div1">SEO Tool</div>
 <div id="app_left" class="div2"><img class ="tool_img" src="../static/assessment.png" height=64/><br/>SEO Assessment</div>
 <div id="app_left" class="div3"><img class ="tool_img" src="../static/tools.png" height=64/><br/>Tools & Plugins</div>
 <div id="app_left" class="div4"><img class ="tool_img" src="../static/chain.png" height=64/><br/>URL Category</div>
 <div id="app_left" class="div5"><img class ="tool_img" src="../static/search.png" height=64/><br/>Indicators for SEO</div>

 <div id="app_footer" class="div6">

  <div class="img_row"><img class ="tool_img" src="../static/reload.png" height=64/><br/><a href="../">Check another URL</a>
  </div>

  <div class="img_row"><img class ="tool_img" src="../static/download.png" height=64/><br/><a href="../report?results={{results}}&url={{url}}">Download Report</a>
  </div>



 </div>

 <div class="div7">
   <div class="div7_1">RESULTS FOR: <a href="{{ url }}" target="_blank">{{url}}</a></div>
    <div class="div7_2"><a href="https://searchstudies.org/seo-effekt/" target="_blank"><img src="../static/seo_logo.png" /></a></div>
 </div>
 <div class="div8">
   <table>
     <tr>
       <td {% if optimized == 1 %} class="highlight" {% endif %}>Most probably optimized</td>
       <td {% if m_optimized == 1 %} class="highlight" {% endif %}>Probably optimized</td>
       <td {% if not_optimized == 1 %} class="highlight" {% endif %}>Most probably not optimized</td>
       <td {% if m_not_optimized == 1 %} class="highlight" {% endif %}>Probably not optimized</td>
       <td {% if uncertain == 1 %} class="highlight" {% endif %}>Uncertain</td>
     </tr>
   </table>
    <div id="assessment_exp">
      <ul>
      <li><b>Most probably optimized:</b> The webpage is most probably optimized when an SEO tool either was found in the HTML code, it is on the list of news services, on the list of customers of SEO agencies, or is on the list with websites with ads, or has at least one microdata.</li>
      <li><b>Probably optimized:</b> The webpage is not most probably optimized and meets one of the following criteria: (1) It is on the list of shops or business websites, (2) it uses Analytics Tools or advertisement, (3) it uses https, (4) it has SEO indicators in its ro-bots.txt, (5) the website has a sitemap, (6) a viewport is defined, (7) it has at least one nofollow link or canonical link, (8) its loading time is less than 3 seconds.</li>
      <li><b>Most probably not optimized:</b> The main domain is on the list of non-optimized websites.</li>
      <li><b>Probably not optimized:</b> The webpage is probably not optimized when it is not most probably optimized, it is not classified as not optimized, and it meets at least one of the following criteria: (1) the description tag is empty, (2) the title tag is empty or identical on subpages, (3) it has no Open Graph tags.</li>
      </ul>

    </div>
</div>
 <div class="div9">
  <table>
    <tr>
      <td class="td_1">SEO Tools</td>
      <td class="td_2">
      {% if seo_plugins %}
      <span class="green">&#10004;</span>
      {% else %}
      <span class="red">&#x2717;</span>
      {% endif %}
      </td>
      <td class="td_3">{{seo_plugins}}</td>
    </tr>
    <tr>
      <td class="td_1">Analytics Tools</td>
      <td class="td_2">
      {% if analytics_tools %}
      <span class="green">&#10004;</span>
      {% else %}
      <span class="red">&#x2717;</span>
      {% endif %}
      </td>
      <td class="td_3">{{analytics_tools}}</td>
    </tr>
  </table>
  <div id="tools_exp">In this process, we check for SEO plugins and analytics tools on the extracted HTML code. We use manually generated lists with defined search patterns to find typical SEO plugins like Yoast SEO or Analytics Tools like Google Analytics.
  </div>
</div>
 <div class="div10">
   <table>
     <tr>
       <td class="td_1">Not optimized</td>

       <td class="td_2">
         {% if source_news == 1 %}
         <span class="green">&#10004;</span>
        {% else %}
        <span class="red">&#x2717;</span>
        {% endif %}
       </td>

       <td class="td_3">Website is definetly not optimized</td>
     </tr>

     <tr>
       <td class="td_1">Customer of a SEO Agency</td>

       <td class="td_2">
         {% if source_known == 1 %}
         <span class="green">&#10004;</span>
        {% else %}
        <span class="red">&#x2717;</span>
        {% endif %}
       </td>

       <td class="td_3">Website is a customer of a SEO agency</td>
     </tr>

     <tr>
       <td class="td_1">News Service</td>

       <td class="td_2">
         {% if source_news == 1 %}
         <span class="green">&#10004;</span>
        {% else %}
        <span class="red">&#x2717;</span>
        {% endif %}
       </td>

       <td class="td_3">Website is a news service</td>
     </tr>

     <tr>
       <td class="td_1">Website with ads</td>

       <td class="td_2">
         {% if source_ads == 1 %}
         <span class="green">&#10004;</span>
        {% else %}
        <span class="red">&#x2717;</span>
        {% endif %}
       </td>

       <td class="td_3">Website has online advertisement</td>
     </tr>

     <tr>
       <td class="td_1">Business Website</td>

       <td class="td_2">
         {% if source_company == 1 %}
         <span class="green">&#10004;</span>
        {% else %}
        <span class="red">&#x2717;</span>
        {% endif %}
       </td>

       <td class="td_3">Website is a business website</td>
     </tr>

     <tr>
       <td class="td_1">Online Shop</td>

       <td class="td_2">
         {% if source_shop == 1 %}
         <span class="green">&#10004;</span>
        {% else %}
        <span class="red">&#x2717;</span>
        {% endif %}
       </td>

       <td class="td_3">Website is an online shop</td>
     </tr>
   </table>
   <div id="class_exp">There is only a relatively small set of websites shown and clicked in the top results. Hence, we can already detect a large fraction of optimized pages by manually classifying this limited set of websites. We analyzed these results and created lists of websites and categorized them according to the probability of SEO in a particular category: (1) not optimized, (2) customer of SEO agencies, (3) news services, (4) websites with ads, (5) business websites, (6) online stores.
   </div>
 </div>
 <div class="div11">
   <table>
     <tr>
       <td class="td_1">Description</td>

       <td class="td_2">
         {% if description %}
         <span class="green">&#10004;</span>
        {% else %}
        <span class="red">&#x2717;</span>
        {% endif %}
       </td>

       <td class="td_3">{{description}}</td>
     </tr>
     <tr>
       <td class="td_1">Title</td>
       <td class="td_2">
         {% if title %}
         <span class="green">&#10004;</span>
        {% else %}
        <span class="red">&#x2717;</span>
        {% endif %}
       </td>

       <td class="td_3">{{site_title}}</td>

     </tr>

     <tr>
       <td class="td_1">Identical Title tags</td>

         {% if identical_title == 1 %}
         <td class="td_2">
         <span class="green">&#10004;</span>
         </td>
          <td class="td_3">Identical title tags on subpages</td>
        {% else %}
        <td class="td_2">
        <span class="red">&#x2717;</span>
        </td>
        <td class="td_3">No identical title tags on subpages</td>
        {% endif %}

     </tr>

     <tr>
       <td class="td_1">Loading speed</td>
       {% if speed < 3 %}
       <td class="td_2">
         <span class="green">&#10004;</span>
        </td>
        <td class="td_3">Loading speed is {{speed}}s < 3s</td>
        {% else %}
        <td class="td_2">
        <span class="red">&#x2717;</span>
        </td>
        <td class="td_3">Loading speed is {{speed}}s > 3s</td>
        {% endif %}



     </tr>
     <tr>
       <td class="td_1">Hypertext Transfer Secure (https)</td>
       {% if https == 1 %}
       <td class="td_2">
         <span class="green">&#10004;</span>
        </td>
        <td class="td_3">Page uses https</td>
        {% else %}
        <td class="td_2">
        <span class="red">&#x2717;</span>
        </td>
        <td class="td_3">Page doesn't use https</td>
        {% endif %}
     </tr>

     <tr>
       <td class="td_1">SEO in robots.txt</td>
       {% if robots == 1 %}
       <td class="td_2">
         <span class="green">&#10004;</span>
        </td>
        <td class="td_3">SEO in robots.txt found</td>
        {% else %}
        <td class="td_2">
        <span class="red">&#x2717;</span>
        </td>
        <td class="td_3">No SEO in robots.txt found</td>
        {% endif %}
     </tr>

     <tr>
       <td class="td_1">Viewport</td>
       {% if viewport == 1 %}
       <td class="td_2">
         <span class="green">&#10004;</span>
        </td>
        <td class="td_3">Viewport defined</td>
        {% else %}
        <td class="td_2">
        <span class="red">&#x2717;</span>
        </td>
        <td class="td_3">No viewport defined</td>
        {% endif %}
     </tr>

     <tr>
       <td class="td_1">Microdata</td>

       {% if micros > 0 %}
       <td class="td_2">
         <span class="green">&#10004;</span>
        </td>
        <td class="td_3">Microdata definitions found</td>
        {% else %}
        <td class="td_2">
        <span class="red">&#x2717;</span>
        </td>
        <td class="td_3">Microdata definitions not found</td>
        {% endif %}
     </tr>

     <tr>
       <td class="td_1">nofollow-Links</td>

       {% if nofollow > 0 %}
       <td class="td_2">
         <span class="green">&#10004;</span>
        </td>
        <td class="td_3">{{nofollow}} nofollow-links found</td>
        {% else %}
        <td class="td_2">
        <span class="red">&#x2717;</span>
        </td>
        <td class="td_3">{{nofollow}} nofollow-links found</td>
        {% endif %}

     </tr>
     <tr>
       <td class="td_1">canonical-Links</td>

       {% if canonicals > 0 %}
       <td class="td_2">
         <span class="green">&#10004;</span>
        </td>
        <td class="td_3">{{canonicals}} canonical-links found</td>
        {% else %}
        <td class="td_2">
        <span class="red">&#x2717;</span>
        </td>
        <td class="td_3">{{canonicals}} canonical-links found</td>
        {% endif %}

     </tr>
   </table>
   <div id="ind_exp">Our selection of SEO factors is based on an extensive review of the professional literature and interviews with SEO experts. We check the following indicators: (1) use of microdata or shema.org, (2) online advertisements on the webpage, (3) use of https, (4) SEO in robots.txt, (5) use of a sitemap, (6) definition of a viewport, (7) use of nofollow-tags, (8) use of canonical-tags, (9) use of a site description, (10) use of a site title and also check of the use of identical site titles on subpages, (11) use of open graph tags.
   </div>

 </div>

 <div class="div12">
       <div class="div7_1"><a href="https://searchstudies.org/" target="_blank"><img src="../static/searchstudies_logo.png" height=64 /></a><a href="https://www.haw-hamburg.de/en/" target="_blank"><img src="../static/haw_logo.jpg" height=64 /></a></div>
</div>

 </div>

{% endblock content %}
