{% extends "base.html" %}
{% block content %}

<div class="parent">
<div id="app_header" class="div1">SEO Tool</div>
<div class="div7">

  <div class="loader_content">
  <div class='loader'></div>
  </div>

    <div class="div7_2"><a href="https://searchstudies.org/seo-effekt/" target="_blank"><img src="../static/seo_logo.png" /></a></div>

    <div class="div7_1"><a href="https://searchstudies.org/" target="_blank"><img src="../static/searchstudies_logo.png" height=64 /></a><a href="https://www.haw-hamburg.de/en/" target="_blank"><img src="../static/haw_logo.jpg" height=64 /></a></div>

</div>

</div>





<script> window.location.replace('/analyze'); </script>
{% endblock %}
